<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    xml的方式声明自己开发的Bean-->
    <bean id="cat" class="com.laoshiren.bean.Cat"/>
    <!--    不指定 ID 配置Bean-->
    <bean class="com.laoshiren.bean.Dog"/>
    <!--    多次定义Bean 抛出NoUniqueBeanDefinitionException-->
    <!--    <bean class="com.laoshiren.bean.Dog"/>-->
</beans>